:root {
  --default-font: "Forum", serif;
  --heading-font: "Metamorphous", serif;
  --nav-font: "Encode Sans",  sans-serif;
}

.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

.encode-sans-light {
  font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

